<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.bootcss.com/require.js/2.3.6/require.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Nested Named Views</h1>
        <router-view></router-view>
    </div>

    <script type="text/javascript">
        require.config({
            paths:
                {text: "https://cdnjs.cloudflare.com/ajax/libs/require-text/2.0.12/text"}
        });
        
        const UserSettingsNav = {
            template: `
<div class="us__nav">
  <router-link to="/BlocksCore.Admin/emails">emails</router-link>
  <br>
  <router-link to="/BlocksCore.Admin/Views">profile</router-link>
</div>
`
        }
        const UserSettings = {
            template: `
<div class="us">
  <h2>User Settings</h2>
  <h3>{{ title }}</h3>
  <UserSettingsNav/>
  
  <router-view class ="us__content"/>
  <router-view name="helper" class="us__content us__content--helper"/>
</div>
  `,
            data:{ title:'alert(1);'},
            components: { UserSettingsNav }
        }

        const UserEmailsSubscriptions = {
            template: `
<div>
	<h3>Email Subscriptions</h3>
</div>
  `
        }

        const UserProfile = {
            template: `
<div>
	<h3>Edit your profile</h3>
</div>
  `
        }

        const UserProfilePreview = {
            template: `
<div>
	<h3>Preview of your profile</h3>
</div>
  `
        }

        const router = new VueRouter({
            mode: 'history',
            routes: [
                {
                    path: '/BlocksCore.Admin',
                    // You could also have named views at tho top
                    component: UserSettings,
                    children: [{
                        path: 'emails',
                        component: UserEmailsSubscriptions
                    }, {
                        path: 'Views',
                        components: {
                            default: function (resolve) {
                                // This special require syntax will instruct Webpack to
                                // automatically split your built code into bundles which
                                // are loaded over Ajax requests.
                                require(['./Views/UserProfile'], resolve)
                            },
                            helper: UserProfilePreview
                        }
                    }]
                }
            ]
        })

        router.push('/BlocksCore.Admin/emails')

        new Vue({
            router,
            el: '#app'
        })


    </script>
</body>
</html>